.skip-navi {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 1px;
  height: 1px;
  text-align: center;
  color: #fff;
  z-index: 101;
}
.skip-navi:active, .skip-navi:focus {
  width: 100%;
  height: auto;
  background: #0085c9;
  padding: 5px 0;
}

#header h1 {
  padding: 10px;
}
#header h1 a {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #000;
}

#gnb {
  width: 700px;
}
#gnb:after {
  content: "";
  display: block;
  clear: both;
}
#gnb li {
  float: left;
  width: 16.6666666667%;
}
#gnb li a {
  display: block;
  padding: 10px 0;
  font-size: 14px;
  color: #000;
  text-align: center;
  transition: background 0.3s, color 0.3s;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#gnb li a:hover {
  background: #000;
  color: #fff;
}

#container #content {
  margin: 0 auto;
}
#container .test-text {
  margin-top: 10px;
  width: 150px;
  background-color: #eee;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  overflow: hidden;
  border-radius: 3px;
  line-height: 20px;
  height: 40px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
}
#container .test-text else {
  max-height: 40px;
}
#container .test-text2 {
  margin-top: 10px;
  width: 150px;
  background-color: #f1f1f1;
  border-radius: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search-wrap h3 {
  padding: 10px;
  margin-top: 30px;
  font-size: 20px;
  color: #000;
  background: #eee;
  border-radius: 3px;
}
.search-wrap h3:first-child {
  margin-top: 0;
}/*# sourceMappingURL=layout.css.map */